:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

a {
  text-decoration: none !important;
}

/* Yoga Poses Directory */
.pose-gallery-img {
  width: 20em;
  height: 24em;
  border-radius: 5px;
  border: 1px solid hsl(21, 19%, 71%);
  margin-left: 1rem;
}

.pose-detail-img {
  width: 15em;
}

.pose-index-gallery {
  width: 15em;
}

.pose-directory-row figcaption {
  position: relative;
  bottom: 2rem;
  left: 2rem;
  color: hsl(335, 98%, 37%);
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

.create-yoga-container {
  display: flex;
  margin: 0em;
  border: 3px solid black;
  height: 100vh;
  background: url('images/lotus.jpg');
  background-position-x: 0%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

.yoga-pose-index {
  border: 8px solid bisque;
  margin: 1em;
  width: 100%;
  background-color: hsl(176, 13%, 46%, 0.5);
  border-radius: 10px;
  overflow: scroll;
}

.yoga-pose-index ol {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-evenly;
}

.yoga-pose-index li {
  margin-bottom: 1em;
}

.yoga-pose-index h2 {
  margin-left: 0.75em;
  font-family: 'Roboto', sans-serif;
}

.yoga-sequence {
  border: 8px solid bisque;
  margin: 1em;
  width: 70%;
  background-color: hsl(176, 13%, 46%, 0.5);
  border-radius: 10px;
  display: none;
}

.header-nav {
  background: url('images/header_background.jpg');
  height: 9%;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.header-nav a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

header h1 {
  font-family: 'Oleo Script', cursive;
  margin-top: 0;
  color: #fff;
  padding-top: 0.2em;
  padding-left: 0.2em;
  text-decoration: none;
  cursor: pointer;
}

/* Home Page and header specific styles */
.landing-pg-container {
  height: 100vh;
}

.homepage-header {
  background: url('./images/crop_texture_background.jpg');
  background-repeat: no-repeat;
  background-position-y: -2rem;
  background-size: cover;
  height: 15%;
  min-height: 7rem;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.homepage-header a {
  text-decoration: none;
  cursor: pointer;
}

.homepage-header .login-btn {
  text-decoration: none !important;
  background-color: transparent !important;
  color: #fff !important;
  border: none !important;
  font-size: 1.3rem;
  cursor: pointer;
}

.homepage-header .logout-btn {
  text-decoration: none !important;
  background-color: transparent !important;
  color: #fff !important;
  border: none !important;
  font-size: 1.3rem;
  cursor: pointer;
  cursor: pointer;
  /* border-right: 3px solid hsl(211, 41%, 50%) !important;
  border-left: 3px solid hsl(211, 41%, 50%) !important;
  border-top: 3px solid hsl(211, 41%, 50%) !important; */
  /* background-color: hsl(180, 21%, 64%, 0.3) !important; */
}

/* background-color: hsl(180, 21%, 64%, 0.3) */

/* Home Page Styles */

.home-page-container {
  background: url('images/lotus_background.jpg');
  width: 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  background-size: cover;
  background-position-x: 50%;
}

.home-page-container section {
  padding-top: 3rem;
}

.home-page-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  /* width: 80%; */
}

.home-page-container h3 {
  margin-top: 0;
  color: hsl(187, 75%, 86%);
}

.home-page-container a {
  color: #000;
  list-style: none;
  border-radius: 5px;
  margin-bottom: 1em;
}

.home-page-container .list-group-item {
  background-color: hsl(180, 21%, 64%, 0.3) !important;
  border: 3px solid hsl(211, 41%, 50%);
  height: 14rem;
  text-align: center;
  border-radius: 7rem;
  width: 14rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-page-container a:hover {
  text-decoration: none;
}

/* Yoga Pose Directory Styles */

.pose-directory-container {
  width: 100%;
  background: url('images/buddha_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.pose-directory-container ol {
  list-style: none;
  overflow: auto;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
}

.pose-directory-row {
  display: flex;
  flex-direction: row;
}

.pose-directory-container li {
  margin-top: 3rem;
  /* width: 100vw; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* .pose-directory-container li p {

} */

/* Individual Yoga Pose */
/* .single-pose-container {
  min-height: 100vh;
} */

.single-pose-container div.scene {
  background: url('images/buddha_background.jpg');
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.single-pose-details {
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-card-outline {
  background-color: hsl(21, 19%, 71%, 0.5);
  width: 25rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid hsl(21, 19%, 71%);
  border-radius: 5px;
}

.single-pose-details > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  width: 90%;
  height: 90%;
  border: 3px solid hsl(21, 19%, 71%);
  /* background-color: #fff; */
  border-radius: 5px;
}

.single-pose-image {
  height: 91%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .single-pose-image img {
  width: 80%;
  text-align: center;
  margin-top: 2rem;
} */

.single-pose-details ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}

.pose-details-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pose-details-list li {
  width: 80% !important;
  /* margin-bottom: 1rem; */
}

/* yoga pose card rotation animation */

.yoga-pose-container {
  background: url('images/buddha_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.scene {
  perspective: 600px;
  /* border: 1px solid #ccc; */
  width: 100%;
  height: 91%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 25rem;
  height: 25rem;
  transition: transform 1s linear;
  transform-style: preserve-3d;
  transform-origin: center right;
  cursor: pointer;
  position: relative;
  background-color: transparent;
}

.card__face {
  position: absolute;
  overflow: scroll;
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
}

.card img {
  width: 25rem;
  height: 25rem;
  border-radius: 5px;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

/* Yoga Pose Courses Section */
.courses-container {
  height: 100vh;
}

.courses-container main {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: url('images/buddha_background.jpg');
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.create-class-btn {
  height: 5rem;
  margin-bottom: 2rem;
  background-color: hsl(335, 98%, 37%);
  border-color: #bb024f;
  text-decoration: none !important;
  color: #fff;
  font-size: 2rem;
}

.create-class-btn:hover {
  background-color: hsl(331, 28%, 60%);
  color: #fff;
}

.course-list-item {
  background-color: hsl(335, 98%, 37%, 0.4);
}

.course-list-item section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.course-list-item span.class-button-wrapper {
  margin: 1rem 0rem;
}

.course-list-item button {
  background-color: hsl(335, 98%, 37%);
  border-radius: 5px;
  width: 3rem;
  height: 3rem;
}

.course-list-item section h3 {
  color: #fff;
  margin-bottom: 0;
}

.course-list-item button i {
  color: #fff;
  font-size: 1rem;
}

.class-button-wrapper li {
  cursor: pointer;
}

.course-poses {
  display: flex;
  /* width: 32rem; */
  overflow: auto;
}

.course-poses.is-shown {
  display: none;
}

.course-poses img {
  width: 17rem;
  height: 17rem;
  border-radius: 5px;
  margin-right: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.course-poses figcaption {
  margin-left: 2rem;
  position: relative;
  bottom: 2rem;
  color: hsl(335, 98%, 37%);
  font-weight: 800;
}

.edit-course-container {
  height: 100vh;
}

.edit-yoga-course {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: url('images/buddha_background.jpg');
  height: 91%;
  background-size: cover;
  background-repeat: no-repeat;
}

.edit-yoga-course ol {
  overflow: auto;
  display: flex;
  list-style: none;
  padding-left: 2rem;
  margin-top: 1rem;
}

.edit-pose-gallery-img {
  width: 17rem;
  height: 17rem;
  border-radius: 5px;
  margin-right: 2rem;
}

.edit-yoga-course ol p {
  position: relative;
  bottom: 2rem;
  left: 1rem;
  color: hsl(335, 98%, 37%);
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

.edit-course-form legend {
  margin-left: 1rem;
}

.edit-course-form .form-group {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.edit-course-form button {
  margin-left: 2rem;
}

.edit-yoga-course .add-btn {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.edit-course-form button {
  margin-left: 2rem;
  background-color: hsl(335, 98%, 37%);
}

.edit-course-form button:hover {
  background-color: hsl(331, 28%, 60%);
}

.edit-yoga-course .delete-btn {
  background-color: hsl(331, 28%, 60%);
}

.edit-yoga-course .delete-btn:hover {
  background-color: hsl(335, 98%, 37%);
}

.edit-yoga-course .add-btn {
  background-color: hsl(335, 98%, 37%);
}

.edit-yoga-course .add-btn:hover {
  background-color: hsl(331, 28%, 60%);
}

.add-new-pose button {
  background-color: hsl(335, 98%, 37%);
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
}

.add-new-pose fieldset {
  padding: 0rem 2rem;
}

.add-new-pose button:hover {
  background-color: hsl(331, 28%, 60%);
}

.edit-pose-form button {
  background-color: hsl(335, 98%, 37%);
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
}

.edit-pose-form button:hover {
  background-color: hsl(331, 28%, 60%);
}

.edit-pose-form fieldset {
  padding: 0rem 2rem;
}

.upload-image {
  margin-left: 2rem;
}

.upload-image:hover {
  cursor: pointer;
}
/* Create Course form */

.create-class-form {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
}

.create-class-form button {
  background-color: hsl(335, 98%, 37%);
}

.create-class-form button:hover {
  background-color: hsl(331, 28%, 60%);
}

.create-class-form #root__title {
  text-align: center;
}

/* My Mat section styles */

/* .my-mat {
  min-height: 100vh;
} */

.my-mat main {
  /* background: url('./images/Sunset.jpg');
   */
  background: url('./images/sunset-bkgrnd.jpg');
  /* height: 91%; */
  min-height: 100vh;
  background-size: cover;
}

.my-mat main ol,
ul {
  list-style: none;
  padding-left: 0px;
}

.my-mat main ol aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.my-mat main ol aside header {
  background-color: hsl(331, 28%, 60%, 0.6);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 80%;
  color: #fff;
  padding-top: 8px;
  margin-top: 10px;
}

.my-mat main ol article img {
  border-radius: 50%;
  width: 40%;
  margin-top: 15px;
}

.my-mat main ol p {
  background-color: hsl(335, 98%, 37%, 0.4);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 80%;
  color: #fff;
  padding: 10px 10px;
  margin: 0;
}

.my-mat main ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0px;
  align-items: center;
}

.my-mat article section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Break Point for larger mobile/ tablet devices */

@media only screen and (min-width: 568px) and (max-width: 768px) {
  .my-mat main article {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
  }

  .my-mat main ol aside {
    margin-left: 3rem;
  }

  .my-mat main ol article img {
    width: 100%;
  }

  .my-mat main ol aside header {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
  }

  .my-mat main ol p {
    border-radius: 5px;
  }

  .course-list-item section {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
  }

  .homepage-header {
    background: url('./images/crop_texture_background.jpg');
    background-repeat: no-repeat;
    background-position-y: -7rem;
    background-size: cover;
    height: 15%;
    min-height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
  }
  .homepage-header h1 {
    font-family: 'Oleo Script', cursive;
    margin-top: 0;
    color: #fff;
    padding-top: 0;
    padding-left: 0;
    text-decoration: none;
    cursor: pointer;
  }
  .card {
    width: 35rem;
    height: 32rem;
    transition: transform 1s linear;
    transform-style: preserve-3d;
    transform-origin: center right;
    cursor: pointer;
    position: relative;
    background-color: transparent;
  }
  .card img {
    width: 35rem;
    height: 32rem;
    border-radius: 5px;
  }
  .detail-card-outline {
    width: 35rem;
    height: 32rem;
  }
  .courses-container main {
    padding: 2rem 5rem;
  }
}

@media only screen and (min-width: 769px) {
  .home-page-container {
    background: url(/static/media/lotus_background.edd96bad.jpg);
    width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    background-size: cover;
    background-position-x: 50%;
  }

  .homepage-header {
    background: url('./images/crop_texture_background.jpg');
    background-repeat: no-repeat;
    background-position-y: -7rem;
    background-size: cover;
    height: 15%;
    min-height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
  }
  .homepage-header h1 {
    font-family: 'Oleo Script', cursive;
    margin-top: 0;
    color: #fff;
    padding-top: 0;
    padding-left: 0;
    text-decoration: none;
    cursor: pointer;
  }
  .my-mat main article {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
  }

  .my-mat main ol aside {
    margin-left: 3rem;
  }

  .my-mat main ol article img {
    width: 100%;
  }

  .my-mat main ol aside header {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
  }

  .my-mat main ol p {
    border-radius: 5px;
  }

  .home-page-container section {
    padding-top: 2rem;
  }

  .home-page-container ul {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
    align-items: unset;
  }

  .card {
    width: 40rem;
    height: 35rem;
    transition: transform 1s linear;
    transform-style: preserve-3d;
    transform-origin: center right;
    cursor: pointer;
    position: relative;
    background-color: transparent;
  }
  .card img {
    width: 40rem;
    height: 35rem;
    border-radius: 5px;
  }
  .detail-card-outline {
    width: 40rem;
    height: 35rem;
  }
  .course-list-item section {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
  }

  .home-page-container .list-group-item {
    background-color: hsl(180, 21%, 64%, 0.3) !important;
    border: 3px solid hsl(211, 41%, 50%);
    height: 12rem;
    text-align: center;
    border-radius: 7rem;
    width: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1.65rem;
  }
  .courses-container main {
    padding: 2rem 5rem;
  }
}
